h1, h2 {
  text-align: center;
}

.intro {
  color: blue;
  text-align: center;
}

.aboutMe {
  transition: all .2s;
}

.aboutMe:hover {
  transform: scale(3) rotate(360deg);
}

p {
  margin-top: 40px;
  margin-bottom: 40px;
}
